@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
	height: 100%;

}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  	height: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
	  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ab593+0,08356d+58,08356d+76,66829b+100&1+0,1+100,0.79+100 */
/* background: -moz-linear-gradient(45deg, #f8f8f8 0%, rgba(8,53,109,0.88) 58%, rgba(8,53,109,0.84) 76%, rgba(102,130,155,0.79) 100%); 
background: -webkit-linear-gradient(45deg, #f8f8f8 0%,rgba(8,53,109,0.88) 58%,rgba(8,53,109,0.84) 76%,rgba(102,130,155,0.79) 100%); 
background: linear-gradient(45deg, #f8f8f8 0%,rgba(8,53,109,0.88) 58%,rgba(8,53,109,0.84) 76%,rgba(102,130,155,0.79) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c966829b',GradientType=1 ); 
   */
}
h3{
	color: #fff;
}
.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #274e7f;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.navbar-brand {
	box-sizing: content-box;
    padding: 0 12px;
    width: 175px;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: transparent;
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s;
}

.navbar-brand span{
	display: inline-block;
    text-indent: 1em;
    height: 50px;
    width: 175px;
    margin-top: 0px;
    margin-left: 0;
    background-image: url(../img/logo.png);
    background-position: 0 -500px;
}